= simple_form_for(service) do |f|
  = f.error_notification
  = f.input :name
  = f.input :uri
  - unless service.new_record?
    = f.association :users

  .ln_solid
  .form-group
    .col-md-6.col-md-offset-3
      = f.button :submit, class: 'btn btn-success'

:javascript
  $("#service_user_ids").select2({
    theme: "bootstrap"
  });
