- if policy(User).manage_users? || policy(:job).show?
  = nav_link controller: [:account_confirmation, :jobs] do
    %a
      = icon('gears')
      = t('.title')
      %span.fa.fa-chevron-down
    %ul.nav.child_menu
      - if policy(User).manage_users?
        = nav_link controller: :users, active_class: 'current-page' do
          = link_to admin_users_path do
            = t('.users')
            - if User.new_accounts.count.positive?
              .pull-right
                = icon('exclamation-triangle')
              .clearfix
      - if policy(:job).show?
        = nav_link controller: :jobs, active_class: 'current-page' do
          = link_to(t('.jobs'), admin_job_path)
