= nav_link controller: :data_sets do
  %a
    = icon('database')
    = t('.title')
    %span.fa.fa-chevron-down
  %ul.nav.child_menu
    = nav_tab :id, 'eurvalve', active_class: 'current-page' do
      = link_to data_set_path(id: 'eurvalve') do
        = t('.real')
    = nav_tab :id, 'inferred', active_class: 'current-page' do
      = link_to data_set_path(id: 'inferred') do
        = t('.inferred')
    = nav_tab :id, 'simulated', active_class: 'current-page' do
      = link_to data_set_path(id: 'simulated') do
        = t('.simulated')
    = nav_tab :id, 'eurvalveVirtual', active_class: 'current-page' do
      = link_to data_set_path(id: 'eurvalveVirtual') do
        = t('.virtual')
