= nav_link controller: :help do
  %a
    = icon('question-circle')
    = t('.title')
    %span.fa.fa-chevron-down
  %ul.nav.child_menu
    = nav_tab :file, 'sessions', active_class: 'current-page' do
      = link_to t('.sessions'), help_page_path(category: 'api', file: 'sessions')
    = nav_tab :file, 'pdp', active_class: 'current-page' do
      = link_to t('.pdp'), help_page_path(category: 'api', file: 'pdp')
    = nav_tab :file, 'policies', active_class: 'current-page' do
      = link_to t('.policies'), help_page_path(category: 'api', file: 'policies')
    = nav_tab :file, 'patients', active_class: 'current-page' do
      = link_to t('.patients'), help_page_path(category: 'api', file: 'patients')
    = nav_tab :file, 'pipelines', active_class: 'current-page' do
      = link_to t('.pipelines'), help_page_path(category: 'api', file: 'pipelines')
    = nav_tab :file, 'data_sets', active_class: 'current-page' do
      = link_to t('.data_sets'), help_page_path(category: 'api', file: 'data_sets')

