= nav_link controller: [:patients, :file_store, :pipelines] do
  %a
    = icon('flask')
    = t('.title')
    %span.fa.fa-chevron-down
  %ul.nav.child_menu
    = nav_link controller: [:patients, :pipelines, :computations], active_class: 'current-page' do
      = link_to patients_path do
        = icon('heart')
        = t('.patients')
    = nav_link controller: :data_sets, active_class: 'current-page' do
      = link_to data_sets_path do
        = icon('database')
        = t('.data_sets')
    = nav_link controller: :file_store, active_class: 'current-page' do
      = link_to file_store_path, data: { turbolinks: false } do
        = icon('files-o')
        = t('files')
    = nav_link controller: :cloud_resources, active_class: 'current-page' do
      = link_to cloud_resources_path, data: { turbolinks: false } do
        = icon('cloud')
        = t('.cloud_resources')
