= render('profiles/layout') do
  %p
    .pull-left
      = t('profiles.plgrids.show.info', login: current_user.plgrid_login).html_safe
    .pull-right
      = link_to t('profiles.plgrids.show.destroy'), profile_plgrid_path,
        data: { confirm: t("are_you_sure") }, method: :delete,
        class: 'btn btn-danger btn-xs'
    .clearfix
    %hr

    %p.description= t('profiles.plgrids.show.proxy_description')
    - unless @proxy
      = render(partial: 'proxy_warning', locals: { msg: t('profiles.plgrids.show.no_proxy') })
    - if @proxy && @proxy.valid?
      = render(partial: 'proxy_info', locals: { proxy: @proxy })
    - else
      = render(partial: 'proxy_warning', locals: { msg: t('profiles.plgrids.show.proxy_not_valid') })
