-# NOTE: requires target_path local setting which tells what directory it should list
- content_for :extra_head do
  :javascript
    var SletOverrides = {
      userLogin: '#{current_user.email}',
      userGroups: #{sanitize(current_user.all_group_names)},
      webDavBaseUrl: '#{File.join(Webdav::FileStore.url, Webdav::FileStore.path, target_path)}',
      webDavBaseHref: '#{File.join(Webdav::FileStore.path, target_path)}',
      policiesApiUrl: '#{File.join(Webdav::FileStore.url, Webdav::FileStore.proxy_path)}',
      token: '#{current_user.token}'
    };
    var fileStoreConfig = function() {
      valve.FileStore.setErrorCallback(function(message) {
        toastr.error(message);
      });
    };
  %script{ type: 'text/javascript', src: File.join(Webdav::FileStore.url, '/browser/browser.nocache.js') }
  %script{ type: 'text/javascript', src: File.join(Webdav::FileStore.url, '/embed/embed.nocache.js') }

.x_panel
  .x_content
    #lobcderContainer
