-# NOTE: Used to embed file browser component multiple times in a single web page
-# requires the following local settings:
-# - target_path - WebDAV directory the browser should list as the root element
-# - element_id - id of the element in which the browser will be embedded (the element will be
-#                created automatically),
-# - sortingField - name of the field to sort tree elements by ('name' or 'date'),
-# - sortingOrder - sorting order of tree elements ('ascending' or 'descending')
- content_for :embed_file_browser do
  :plain
    eurvalve.filestore.Embed.embedFileBrowser({
      resourceUrlBase: '#{File.join(Webdav::FileStore.url, '/')}',
      elementId: '#{element_id}',
      userLogin: '#{current_user.email}',
      userToken: '#{current_user.token}',
      userGroups: #{sanitize(current_user.all_group_names.to_json)},
      webDavBaseUrl: '#{File.join(Webdav::FileStore.url, Webdav::FileStore.path, target_path)}',
      webDavBaseHref: '#{File.join(Webdav::FileStore.path, target_path)}',
      policiesApiUrl: '#{File.join(Webdav::FileStore.url, Webdav::FileStore.proxy_path)}',
      disableUpload: #{!!local_assigns[:disable_upload]},
      disableFolderCreation: #{!!local_assigns[:disable_mkdir]},
      onError: function(message) {
        toastr.error(message);
      },
      onFileUploaded: function(path) {
        if (App.computation) {
          console.log("uploaded %o", path);
          App.computation.send({ new_input: true })
        }
      },
      additionalJsResources: ['#{javascript_path 'application'}'],
      additionalCssResources: ['#{stylesheet_path 'application'}'],
      additionalCssOverrides: ['body { background: #ffffff; }'],
      sortingField: '#{defined?(sortingField) ? sortingField : 'name'}',
      sortingOrder: '#{defined?(sortingOrder) ? sortingOrder : 'ascending'}'
    });

%div{:id => "#{element_id}"}
