- content_for :extra_head do
  :javascript
    var SletOverrides = {
      userLogin: '#{@user_email}',
      userGroups: #{sanitize(@user_groups)},
      webDavBaseUrl: '#{@web_dav_base_url}',
      webDavBaseHref: '#{@web_dav_base_href}',
      webDavAuthUrl: '/api/auth',
      token: '#{@token}'
    };
  %script{type: 'text/javascript', src: @web_dav_base_url + '/browser/browser.nocache.js'}
%h1
  = t '.title'
.x_panel
  .x_content
    %div{ id: 'lobcderContainer' }
