- content_for :extra_head do
  %div{ "data-turbolinks" => "false" }
  :javascript
    var SletOverrides = {
      userLogin: '#{@user_email}',
      userGroups: #{sanitize(@user_groups)},
      webDavBaseUrl: '#{@web_dav_base_url}',
      webDavBaseHref: '#{@web_dav_base_href}',
      webDavAuthUrl: '/api/auth',
      token: '#{@token}'
    };
  %script{type: "text/javascript", src: "https://files.valve.cyfronet.pl/browser/browser.nocache.js"}
%div{id: "lobcderContainer"}
