= simple_form_for(resource, url: url) do |f|
  = f.error_notification
  = f.input :name
  = f.input(:path, input_html: { value: '/' },
      hint: "Path must start with '/' and will be appended to #{resource&.service&.uri}")
  .ln_solid
  .form-group
    .col-md-6.col-md-offset-3
      = f.button :submit, class: 'btn btn-success'
