%h1= t('.title', service_name: @service.name)
.col-md-8
  = render('services/show_layout') do
    .x_title
      %h2
        = t '.title'
        %small= t '.subtitle'

      %ul.nav.navbar-right.panel_toolbox
        %li
          = link_to(service_global_policies_path(@service), class: 'back') do
            = icon("hand-o-left", title: t('.back_to_index'))
      .clearfix
    .x_content
      = render partial: 'resources/form',
               locals: { resource: resource, url: service_global_policies_path(@service) }
.col-md-4
  = render 'new_help'
