= render 'patients/show', patient: @patient do
  = render('patients/all_pipelines_outputs', patient: @patient)

.x_panel
  .x_title
    %h2
      = @pipelines.first.name
      vs
      = @pipelines.second.name
      %small= t 'patients.comparisons.show.subtitle'

    %ul.nav.navbar-right.panel_toolbox
      %li
        = link_to patient_path(@patient), class: 'back' do
          = icon 'hand-o-left',
            title: t('patients.pipelines.show.back_to_index')

    .clearfix

  .x_content
    - if (@data[:compared] + @data[:not_comparable]).empty?
      = t 'patients.comparisons.show.no_data'

    - @data[:compared].each do |diff|
      .diff_output{ data: diff }

    - @data[:not_comparable].each do |noncomparable|
      .noncomparable
        = t 'patients.comparisons.show.incomparable', noncomparable: noncomparable
