- @data[:compared].each_with_index do |diff, index|
  - if diff[:viewer] == 'off'
    - content_for :embed_file_browser do
      :plain
        $('#off_#{index}').height($('#off_#{index}').width() / 2);
        eurvalve.filestore.Embed.embedOffViewer({
          elementId: 'off_#{index}',
          userToken: '#{current_user.token}',
          mainMeshUrl: '#{diff[:compared][:path]}',
          compareMeshUrl: '#{diff[:compare_to][:path]}',
          resourceUrlBase: '#{File.join(Webdav::FileStore.url, '/')}'
        });

.x_panel
  .x_title
    %h2
      = @pipelines.first.name
      vs
      = @pipelines.second.name
      %small= t 'patients.comparisons.show.subtitle'

    %ul.nav.navbar-right.panel_toolbox
      %li
        = link_to patient_path(@patient), class: 'back' do
          = icon 'hand-o-left',
            title: t('patients.pipelines.show.back_to_index')

    .clearfix

  .x_content
    - if @sources.present?
      %h3= t('.sources_comparison')
      %ul
        - @sources.each do |compared_computation, compare_to_computation|
          %li
            = source_comparison_link compared_computation, compare_to_computation

    %h3= t('.data_comparison')
    - if (@data[:compared] + @data[:not_comparable]).empty?
      = t 'patients.comparisons.show.no_data'

    - @data[:compared].each_with_index do |diff, index|
      - if diff[:viewer] == 'text'
        .diff_output{ data: diff }
      - if diff[:viewer] == 'off'
        .off-viewer-header.clearfix
          %span.off-header-left= "#{diff[:compared][:name]} (#{diff[:compared][:pipeline]})"
          %span.off-header-right= "#{diff[:compare_to][:name]} (#{diff[:compare_to][:pipeline]})"
        %div{id: "off_#{index}"}
      - if diff[:viewer] == 'graphics'
        %span
          %div.row
            %div.col-md-6
              %h2 #{diff[:compared][:name]} (#{diff[:compared][:pipeline]})
            %div.col-md-6
              %h2 #{diff[:compare_to][:name]} (#{diff[:compare_to][:pipeline]})
          %div.row
            %div.col-md-6
              %img.img-responsive{data: {'filestore-src' => diff[:compared][:url]}}
            %div.col-md-6
              %img.img-responsive{data: {'filestore-src' => diff[:compare_to][:url]}}

    - @data[:not_comparable].each do |noncomparable|
      .noncomparable
        = t 'patients.comparisons.show.incomparable', noncomparable: noncomparable

= render('patients/file_browsers', patient: @patient) do
  = render('patients/all_pipelines_outputs', patient: @patient)
