= render('profiles/layout') do
  %p= t('profiles.passwords.show.info')
  = simple_form_for(current_user, url: profile_password_path, html: { method: :put }) do |f|
    = f.input :current_password
    = f.input :password
    = f.input :password_confirmation
    .form-group
      .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
        = f.button :submit, t('profiles.passwords.show.update'), class: 'btn btn-success'
