.row
  .col-md-12
    .x_panel
      .x_title
        %h2
          = t '.title'
          %small= t '.subtitle'

        %ul.nav.navbar-right.panel_toolbox
          %li
            = link_to(group_path(@group), class: 'back') do
              = icon("hand-o-left", title: t('.back'))
        .clearfix

      .x_content
        = render partial: 'form', locals: { group: @group }
