%h1
  = t '.title'
  %a{ href: url_for(new_group_path), title: t('.add'), class: "new-icon" }
    = icon("plus")

- if @groups.exists?
  %table.table
    %thead
      %tr
        %th= t 'group.name'
        %th

      = render @groups
- else
  %p= t '.nothing'
