.row
  .col-md-12
    .x_panel
      .x_title
        %h2= @group.name

        %ul.nav.navbar-right.panel_toolbox
          %li
            = link_to(groups_path) do
              = icon('hand-o-left', title: t('.back_to_index'))
          %li
            = link_to(edit_group_path(@group)) do
              = icon('edit', title: t('edit'))
        .clearfix

      .x_content
        %table.table
          %tbody
            %tr
              %td= t('simple_form.labels.group.name')
              %td= @group.name
            %tr
              %td= t('simple_form.labels.group.member_ids')
              %td= name_list(@group.members)
            %tr
              %td= t('simple_form.labels.group.owner_ids')
              %td= name_list(@group.owners)
            %tr
              %td= t('simple_form.labels.group.children')
              %td= name_list(@group.children)
            %tr
              %td= t('simple_form.labels.group.parents')
              %td= name_list(@group.parents)
            %tr
              %td= t('simple_form.labels.group.ancestors')
              %td= name_list(@group.ancestors)
            %tr
              %td= t('simple_form.labels.group.offspring')
              %td= name_list(@group.offspring)
            %tr
              %td= t('simple_form.labels.group.all_users')
              %td= name_list(@group.all_users)
