.row
  .col-md-12
    .x_panel
      .x_title
        %h2= @group.name

        %ul.nav.navbar-right.panel_toolbox
          %li
            = link_to(groups_path) do
              = icon("hand-o-left", title: t('.back_to_index'))
        .clearfix

      .x_content
        %table.table
          %tbody
            %tr
              %td= t('simple_form.labels.group.name')
              %td= @group.name
