%div
  %div#wrapper
    %div#login
      %section.login_content
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :put }) do |f|
          %h1= t("change_password_form")
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          - if resource.errors[:reset_password_token].present?
            %ul.parsley-errors-list.filled
              %li.parsley-required
                = t('token_expired')
                = link_to t('token_expired_link'), new_password_path(resource_name)
          %div
            = f.input_field :password, required: true, autofocus: true,
              class: form_input_class(resource, :password),
              placeholder: t("new_password"),
              hint: t("password_hint", length: @minimum_password_length)
            - show_field_errors(resource, :password)
          %div
            = f.input_field :password_confirmation, required: true,
              class: form_input_class(resource, :password_confirmation),
              placeholder: t("new_password_confirmation")
            - show_field_errors(resource, :password_confirmation)
          %div
            %button.btn.btn-default.submit
              = t("change_password_submit")
          %div.clearfix
          %div.separator
          %div.change_link
            = t("go_back")
            %a.to_register{ href: new_session_path(resource_name) }
              = t("login")
          = render "devise/shared/footer"
