%div
  %div#wrapper
    %div#login
      %section.login_content
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :post }, wrapper: :login_form) do |f|
          %h1= t("forgot_password_form")
          = f.error_notification
          = f.input :email, required: true, autofocus: true, placeholder: t('email')
          %div
            %button.btn.btn-default.submit
              = t("submit_forgot_password")
          %div.clearfix
          %div.separator
          %div.change_link
            = t("go_back")
            %a.to_register{href: new_session_path(resource_name)}
              = t("login")
          = render "devise/shared/footer"
