- if details[:status] == :ok
  %ul.list-inline
    - details[:payload].each do |value|
      %li
        #{t(".#{value[:name]}")}: #{value[:value]}
        %span(class = "label label-#{value[:style]}")
          = value[:type]
- else
  %div.label.label-danger= t('.no_details', details: details[:message])

