.row
  .col-md-12
    .x_panel
      .x_title
        %h2
          = t("permissions", name: @resource.name, uri: @resource.uri)
          %small= t("manage_permissions")
        %ul.nav.navbar-right.panel_toolbox
          %li
            = link_to(resources_path) do
              = icon("hand-o-left", title: t("back_to_resources"))
        .clearfix
      .x_content
        = simple_form_for(@permission) do |f|
          - if !@user_permissions.empty?
            %table.table.permissions
              %thead
                %tr
                  %th= t("user_resource_permissions")
                  %th= t("permissions_list")
              %tbody
                - @user_permissions.each do |email, permissions|
                  %tr
                    %td= email
                    %td
                      - permissions.each do |permission|
                        %span.label.label-primary
                          = permission.action.name
                          = link_to(permission_path(permission.id, resource_id: @resource.id),
                            method: :delete, data: { confirm: t("are_you_sure") }) do
                            = icon("remove", class: "fa-white")
          - else
            %p= t("no_user_permissions")
          - if !@group_permissions.empty?
            %table.table.permissions
              %thead
                %tr
                  %th= t("group_resource_permissions")
                  %th= t("permissions_list")
              %tbody
                - @group_permissions.each do |name, permissions|
                  %tr
                    %td= name
                    %td
                      - permissions.each do |permission|
                        %span.label.label-primary
                          = permission.action.name
                          = link_to(permission_path(permission.id, resource_id: @resource.id),
                            method: :delete, data: { confirm: t("are_you_sure") }) do
                            = icon("remove", class: "fa-white")
          - else
            %p= t("no_group_permissions")
          .col-md-6.col-md-offset-3
            %h5{title: t("user_or_group")}
              = t("add_permission")
              = icon("info")
            = f.error_notification
          .form-group
            = f.input_field :resource_id, as: :hidden, value: @resource.id
          = f.input :user_id, label: t("pick_user"), collection: @users, label_method: :email,
            prompt: t("select_user")
          = f.input :group_id, label: t("pick_group"), collection: @groups, prompt: t("select_user")
          = f.input :action_id, label: t("pick_action"), collection: @actions, as: :radio_buttons
          .ln_solid
          .form-group
            .col-md-6.col-md-offset-3
              = f.button :submit, t("new_permission_submit")