%div#wrapper
  %div#login
    %section.login_content
      = simple_form_for(@permission) do |f|
        %h1= t("permissions")
        %p
          %strong
            #{t("resource_name")}: #{@resource.name}
        %p
          %strong
            #{t("resource_uri")}: #{@resource.uri}
        %h5= t("user_resource_permissions")
        - if !@user_permissions.empty?
          %table.table
            %tbody
              - @user_permissions.each do |email, permissions|
                %tr
                  %td= email
                  %td
                    - permissions.each do |permission|
                      %span.label.label-primary
                        = permission.action.name
                        = link_to(permission_path(permission.id, resource_id: @resource.id),
                          method: :delete, data: { confirm: t("are_you_sure") }) do
                          = icon("remove", class: "fa-white")
        - else
          %p= t("no_user_permissions")
        %h5= t("group_resource_permissions")
        - if !@group_permissions.empty?
          %table.table
            %tbody
              - @group_permissions.each do |name, permissions|
                %tr
                  %td= name
                  %td
                    - permissions.each do |permission|
                      %span.label.label-primary
                        = permission.action.name
                        = link_to(permission_path(permission.id, resource_id: @resource.id),
                          method: :delete, data: { confirm: t("are_you_sure") }) do
                          = icon("remove", class: "fa-white")
        - else
          %p= t("no_group_permissions")
        %h5{title: t("user_or_group")}
          = t("add_permission")
          = icon("info")
        = f.error_notification
        %div
          = f.input_field :resource_id, as: :hidden, value: @resource.id
        %div.vertical-space
          = f.input_field :user_id, class: form_input_class(@permission, :user_id),
              collection: @users, label_method: :email, prompt: t("select_user")
          - show_field_errors(@permission, :user_id)
        %div.vertical-space
          = f.input_field :group_id, class: form_input_class(@permission, :group_id),
              collection: @groups, prompt: t("select_group")
          - show_field_errors(@permission, :group_id)
        %div.radios
          = f.input_field :action_id, class: form_input_class(@permission, :action_id),
              collection: @actions, as: :radio_buttons
          - show_field_errors(@permission, :action_id)
        %div
          %button.btn.btn-default.submit
            = t("new_permission_submit")