= render 'patients/show', patient: patient

.x_panel
  .x_title
    %h2
      = pipeline.name
      %small= t 'patients.pipelines.show.subtitle'

    %ul.nav.navbar-right.panel_toolbox
      %li
        = link_to patient_path(patient), class: 'back' do
          = icon 'hand-o-left',
            title: t('patients.pipelines.show.back_to_index')
      %li
        = link_to edit_patient_pipeline_path(patient, pipeline),
          class: 'edit' do
          = icon 'edit',
            title: t('patients.pipelines.show.edit')
      %li
        = link_to patient_pipeline_path(patient, pipeline),
          method: :delete, class: 'delete',
          data: { confirm: t('are_you_sure') } do
          = icon 'remove',
            title: t('patients.pipelines.show.delete')
    .clearfix

  .x_content
    = yield
