= simple_form_for([model.resource, model.access_policy]) do |f|
  .col-md-6.col-md-offset-3
    %h5= t('.add')
    = f.error_notification
  .form-group
    = f.input_field :resource_id, as: :hidden, value: model.resource.id
  = f.input :user_id,
    label: t('.pick_user'),
    collection: model.users,
    label_method: :email,
    hint: t('.user_or_group'),
    include_blank: true
  = f.input :group_id,
    label: t('.pick_group'),
    collection: model.groups,
    include_blank: true
  = f.input :access_method_id,
    label: t('.pick_method'),
    collection: model.access_methods,
    as: :radio_buttons
  .ln_solid
  .form-group
    .col-md-6.col-md-offset-3
      = f.button :submit, class: 'btn btn-success'
