- if patient.imaging_uploaded? || patient.virtual_model_ready? || patient.after_parameter_estimation?
  %h3= t '.computations'

  - computations = patient.computations.for_patient_status(patient.procedure_status)
  - if computations.active.blank?
    - unless proxy_valid?
      = render partial: 'proxy/warning',
                locals: { msg: t('.proxy.invalid') }
    - else
      .row
        .col-xs-12.table
          = simple_form_for(new_computation) do |f|
            %h4= t ".new_computation.#{new_computation.pipeline_step}"
            = f.error_notification
            = f.hidden_field :patient_id, value: patient.id
            %div
              %button.btn.btn-default.submit
                = t '.submit'

  - if computations.present?
    .row
      .col-xs-12.table
        %table.table.table-striped
          %thead
            %tr
              %th
              %th= t 'computation.started_at'
              %th= t 'computation.execution_time'
              %th= t 'computation.outputs'
              %th= t 'computation.status'

          %tbody
            = render partial: 'computation', collection: computations
