- if patient.data_files.blank?
  .alert.alert-info= t 'patients.show.nothing'

- else

  - if DataFile.synchronizer_class == PlgridDataFileSynchronizer

    .col-xs-12.table
      %table.table.table-striped
        %thead
          %tr
            %th= t 'data_file.name'
            %th= t 'data_file.data_type'

        %tbody
          - patient.data_files.each do |df|
            %tr
              %td= df.name
              %td= df.data_type
              %td
                - if df.handle
                  = link_to t('patients.show.download'), df.handle
                - else
                  %i= t 'patients.show.download_unavailable'

  - else

    - content_for :extra_head do
      :javascript
        var SletOverrides = {
          userLogin: '#{current_user.email}',
          userGroups: #{sanitize(current_user.all_groups.map(&:name).to_s)},
          webDavBaseUrl: '#{file_store_url}#{file_store_path}/#{Rails.env}/patients/#{patient.case_number}',
          webDavBaseHref: '#{file_store_path}',
          webDavAuthUrl: '/api/auth',
          policiesApiUrl: '#{file_store_proxy_path}',
          token: '#{current_user.token}'
        };
        var fileStoreConfig = function() {
          valve.FileStore.setErrorCallback(function(message) {
            toastr.error(message);
          });
        };
      %script{ type: 'text/javascript', src: file_store_js_path }

    .x_panel
      .x_content
        #lobcderContainer
