%h1= t('.title')
%br
- if @patients.blank?
  .row
    .alert.alert-info
      = t '.nothing'

.row.top_tiles

  - @patients.each do |patient|
    .col-lg-3.col-md-3.col-sm-6.col-xs-12
      .tile-stats
        = link_to patient, data: { turbolinks: false } do
          .icon
            %i.fa.fa-heart
          .count= patient.case_number

          %h3= "#{t '.files'}: #{patient.data_files.count}"
          = render partial: 'progress', locals: { patient: patient }

  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .tile-stats.tile-new-patient.bg-blue
      = link_to new_patient_path do
        .icon
          %i.fa.fa-plus
        .count= t '.new'

        %h3= t '.add'
