%h1= t('.title')
%br
- if @patients.blank?
  .row
    .alert.alert-info
      = t '.nothing'

.row.top_tiles

  - @patients.each do |patient|
    .col-md-3.col-xs-12.widget.widget_tally_box.tile-patient
      .x_panel.fixed_height_320
        .x_title
          %h2
            %i.fa.fa-heart
            = link_to patient, data: { turbolinks: false } do
              = patient.case_number
          .clearfix

        .x_content

          %h5= "#{t '.files'}: #{patient.data_files.count}"

          %h5= t patient.pipelines.present? ? '.latest_pipelines' : '.no_pipelines'
          %ul.list-inline.widget_tally
            - patient.pipelines.latest.each do |pipeline|
              %li
                = render partial: 'progress', locals: { pipeline: pipeline }

  .col-md-3.col-xs-12.widget
    .tile-stats.tile-new-patient.bg-blue
      = link_to new_patient_path do
        .icon
          %i.fa.fa-plus
        .count= t '.new'

        %h3= t '.add'
