%br
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2
          = t '.title'
          %small= t '.subtitle'
        .clearfix

      .x_content
        %br
        = simple_form_for(@patient) do |f|

          .form-group
            .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
              = f.error_notification

          = f.input :case_number, autofocus: true

          .ln_solid

          .form-group
            .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
              = link_to t('cancel'), patients_path, class: 'btn btn-primary'
              = f.button :submit, t("register"), class: "btn btn-success"
