%br
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2
          = @patient.case_number
          %small= t '.subtitle'
        %span.pull-right
          = link_to t('.remove'), patient_path(@patient), method: :delete,
            data: { confirm: t('.confirm') }, class: 'btn btn-sm btn-danger'
          = link_to t('.back'), patients_path, class: 'btn btn-sm btn-primary'
        .clearfix

      .x_content
        %section.content
          %span
            %h3= t '.details'
            = render partial: 'progress', locals: { patient: @patient }

          %h3= t '.files'
          .row
            - if @patient.data_files.blank?
              .alert.alert-info= t '.nothing'

            - else
              .col-xs-12.table
                %table.table.table-striped
                  %thead
                    %tr
                      %th= t 'data_file.name'
                      %th= t 'data_file.data_type'

                  %tbody
                    - @patient.data_files.each do |df|
                      %tr
                        %td= df.name
                        %td= df.data_type
                        %td
                          - if df.handle
                            = link_to t('.download'), df.handle
                          - else
                            %i= t '.download_unavailable'
        - if @patient.procedure_status == 'virtual_model_ready' && @computations.blank?
          %section.content
            %h3= 'Submit CFD computation'
            .row
              .col-xs-12.table
                = simple_form_for(computation) do |f|
                  %h4= 'CFD computation'
                  = f.error_notification
                  = f.hidden_field :patient_id, value: @patient.id
                  %div
                    %button.btn.btn-default.submit
                      = 'Submit'
