%div
  %div#wrapper
    %div#login
      %section.login_content
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name),
          html: {id: "login_form"}) do |f|
          %h1= t("login_form")
          %div
            = f.input_field :email, required: true, autofocus: true, class: "form-control",
              placeholder: t("email")
          %div
            = f.input_field :password, required: true, class: "form-control",
              placeholder: t("password")
          %div.checkbox
            %label
              = f.input_field :remember_me, type: "checkbox" if devise_mapping.rememberable?
              = t("remember_me")
          %div
            %button.btn.btn-default.submit
              = t("login")
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to t("forgot"), new_password_path(resource_name),
                class: "reset_pass"
          %div.clearfix
          %div.separator
          %div.change_link
            = t("new_to_site")
            %a.to_register{href: new_registration_path(resource_name)}
              = t("create_account")
          = render "devise/shared/footer"