%div
  %a#toregister.hiddenanchor
  %a#tologin.hiddenanchor
  %div#wrapper
    %div#login.animate.form
      %section.login_content
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %h1 Login form
          %div
            = f.input_field :email, required: true, autofocus: true, class: "form-control", placeholder: "Email"
          %div
            = f.input_field :password, required: true, class: "form-control", placeholder: "Password"
          %div
            = f.input_field :remember_me, as: :boolean if devise_mapping.rememberable?
          %div
            %a{href: "#", class: "btn btn-default submit", onclick: "$('#new_user').submit();"} Log in
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot your password?", new_password_path(resource_name),
                class: "reset_pass"
          %div.clearfix
          %div.separator
          %div.change_link New to site? #{content_tag("a", "Create account", class: "to_register", href: "#toregister")}
          %div.clearfix
          %br
          %div
            %h1 #{content_tag("i", "", class: "fa fa-heartbeat", style: "font-size: 26px; color: red;")} #{t("title")}
            %p ©2015 All Rights Reserved.
    %div#register.animate.form
      %section.login_content
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %h1 Login form
          %div
            = f.input_field :email, required: true, autofocus: true, class: "form-control", placeholder: "Email"
          %div
            = f.input_field :password, required: true, class: "form-control", placeholder: "Password"
          %div
            = f.input_field :remember_me, as: :boolean if devise_mapping.rememberable?
          %div
            %a{href: "#", class: "btn btn-default submit", onclick: "$('#new_user').submit();"} Log in
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot your password?", new_password_path(resource_name),
                class: "reset_pass"
          %div.clearfix
          %div.separator
          %div.change_link New to site? #{content_tag("a", "Create account", class: "to_register", href: "#toregister")}
          %div.clearfix
          %br
          %div
            %h1 #{content_tag("i", "", class: "fa fa-heartbeat", style: "font-size: 26px; color: red;")} #{t("title")}
            %p ©2015 All Rights Reserved.
        