%h1= t("not_confirmed_users")
- if @users[:not_confirmed].exists?
  %table.table.users
    %thead
      %tr
        %th= t("email")
        %th= t("first_name")
        %th= t("last_name")
        %th= link_to(t("approve_all"), account_confirmation_approve_all_path, method: :put)
    %tbody
      - @users[:not_confirmed].each do |user|
        %tr
          %td= user.email
          %td= user.first_name
          %td= user.last_name
          %td= link_to(t("approve"), approve_user_path(user.id), method: :put)
- else
  %p= t("no_users")
%h1= t("confirmed_users")
- if @users[:confirmed].exists?
  %table.table.users
    %thead
      %tr
        %th= t("email")
        %th= t("first_name")
        %th= t("last_name")
        %th= link_to(t("block_all"), account_confirmation_block_all_path, method: :put,
          data: { confirm: t("are_you_sure") })
    %tbody
      - @users[:confirmed].each do |user|
        %tr
          %td= user.email
          %td= user.first_name
          %td= user.last_name
          %td= link_to(t("block"), block_user_path(user.id), method: :put,
            data: { confirm: t("are_you_sure") })
- else
  %p= t("no_users")