.row
  .col-md-12
    .x_panel
      .x_title
        %h2
          = t("new_resource_form")
          %small= t("new_resource_subtitle")
        %ul.nav.navbar-right.panel_toolbox
          %li
            = link_to(resources_path) do
              = icon("hand-o-left", title: t("back_to_resources"))
        .clearfix
      .x_content
        = simple_form_for(resource) do |f|
          = f.error_notification
          = f.input :name, label: t("resource_name")
          = f.association :service, label_method: :uri, include_blank: false, required: true
          = f.input :path, label: t("resource_path")
          .ln_solid
          .form-group
            .col-md-6.col-md-offset-3
              = f.button :submit, t("new_resource_submit")
