= simple_form_for(computation, url: patient_pipeline_computation_path(patient, pipeline, computation)) do |f|
  = f.error_notification
  .row.form-group
    - if @versions
      .col-lg-7.col-xs-12
        = f.input :tag_or_branch,
          as: :grouped_select,
          collection: @versions,
          group_method: :last
    .col-lg-5.col-xs-12
      = f.button :submit,
        t("steps.#{computation.pipeline_step}.#{computation.finished? ? 're' : ''}start_#{computation.mode}"),
        class: 'btn btn-default'
      - if computation.scripted?
        = link_to t('.reload'),
                  patient_pipeline_computation_path(patient, pipeline, computation, force_reload: true),
                  class: 'btn btn-default',
                  data: { turbolinks: false }
