#pipeline{ data: { pipeline: pipeline.iid, patient: patient.id, computation: computation.pipeline_step } }
  .col-xs-2
    = render 'patients/pipelines/computations/menu',
      patient: patient, pipeline: pipeline,
      computation: computation, computations: computations
  .col-xs-10
    .tab-content
      - if computation.runnable?
        .alert{class: alert_computation_class(computation)}
          = t(".#{computation.pipeline_step}.#{computation.status}")
        = render 'details', computation: computation
        - if computation.rimrock? && !proxy&.valid?
          = render(partial: 'proxy/warning', locals: { msg: t('.proxy_invalid') })
        - else
          = render 'run', patient: patient, pipeline: pipeline, computation: computation

      - else
        .alert.alert-warning= t(".#{computation.pipeline_step}.cannot_start")

