.row
  .col-xs-6
    .x_panel
      .x_title
        %h3= t('.pipeline_inputs', name: pipeline.name)
      .x_content
        %section.content
          = render partial: 'file_store/file_browser_multi',
            locals: { target_path: pipeline.inputs_dir,
              element_id: 'project-inputs', disable_mkdir: true,
              sortingField: 'date', sortingOrder: 'descending' }
    .x_panel
      .x_title
        %h3= t('.project_inputs', name: project.project_name)
      .x_content
        %section.content
          = render partial: 'file_store/file_browser_multi',
            locals: { target_path: project.inputs_dir,
              element_id: 'pipeline-inputs', disable_mkdir: true,
              sortingField: 'date', sortingOrder: 'descending' }

  .col-xs-6
    .x_panel
      .x_title
        %h3= t('.pipeline_outputs', name: pipeline.name)
      .x_content
        %section.content
          = render partial: 'file_store/file_browser_multi',
            locals: { target_path: pipeline.outputs_dir,
              element_id: 'project-outputs', disable_mkdir: true,
              disable_upload: true, sortingField: 'date',
              sortingOrder: 'descending' }

= render partial: 'file_store/file_browser_multi_include'

