= form_tag(project_comparisons_path(project), method: :get) do
  %table.table
    %thead
      %tr
        %th.iid= t('.id')
        %th.select
        %th= t('.name')
        %th= t('.user')
        %th= t('.status')
    %tbody
      = render partial: 'projects/pipelines/pipeline_compare',
               collection: pipelines, as: :pipeline

  = submit_tag(t('.compare'), class: 'btn btn-success')
