= render "layouts/left_menu/logo_#{platform_type}"

.profile
  .profile_pic
    = link_to profile_path do
      = image_tag current_user.gravatar_url(size: 56), class: 'img-circle profile_img'
  .profile_info
    %span= t('welcome')
    %h2
      = link_to current_user.name, profile_path
.clearfix
%br

#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %ul.nav.side-menu
      = render 'layouts/left_menu/research'
      = render 'layouts/left_menu/settings'
      = render 'layouts/left_menu/administration'
      = render 'layouts/left_menu/help'


.sidebar-footer.hidden-small
  = render "layouts/footer_#{platform_type}"
