.navbar.nav_title{style: "border: 0;"}
  = link_to root_path, class: 'site_title' do
    %i.fa.fa-heartbeat{style: "color: red;"}
    = t("title")
.clearfix

%br

#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %h3 General
    %ul.nav.side-menu
      %li.active
        %a
          = icon('home')
          Menu1
          %span.fa.fa-chevron-down
        %ul.nav.child_menu
          %li.active= link_to('Sub1.1', root_path)
          %li= link_to('Sub1.2', root_path)
          %li= link_to('Sub1.3', root_path)
      %li
        %a
          = icon('home')
          Menu1
          %span.fa.fa-chevron-down
        %ul.nav.child_menu
          %li= link_to('Sub1.1', root_path)
          %li= link_to('Sub1.2', root_path)
          %li= link_to('Sub1.3', root_path)

.sidebar-footer.hidden-small
  = render 'layouts/footer'