.navbar.nav_title{style: "border: 0;"}
  = link_to root_path, class: 'site_title' do
    %i.fa.fa-heartbeat.logo
    = t("title")

.profile
  .profile_pic
    = image_tag current_user.gravatar_url(size: 56), class: 'img-circle profile_img'
  .profile_info
    %span= t('welcome')
    %h2= current_user.name
.clearfix
%br

#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %ul.nav.side-menu
      = nav_link controller: :patients do
        = link_to patients_path do
          = icon("heart")
          = t("patient.menu_item")
      = nav_link controller: :file_store do
        = link_to file_store_path do
          = icon("files-o")
          = t("file_store.menu_item")
      = nav_link controller: [:registrations, :account_confirmation, :jobs] do
        %a
          = icon("sliders")
          = t("settings")
          - if @user_confirmations && policy(:admin).manage_users?
            = icon("exclamation-triangle")
          %span.fa.fa-chevron-down
        %ul.nav.child_menu
          = nav_link controller: [:profiles, :accounts, :passwords, :plgrids], active_class: 'current-page' do
            = link_to(t("profile"), profile_path)
          - if policy(:admin).manage_users?
            = nav_link controller: :account_confirmation, active_class: 'current-page' do
              = link_to account_confirmations_index_path do
                = t("user_confirmation")
                - if @user_confirmations
                  = icon("exclamation-triangle")
          - if policy(:job).show?
            = nav_link controller: :jobs, active_class: 'current-page' do
              = link_to(t('jobs.title'), admin_job_path)

      = nav_link controller: [:resources, :access_policies] do
        %a
          = icon("gears")
          = t("administration")
          %span.fa.fa-chevron-down
        %ul.nav.child_menu
          = nav_link controller: [:resources, :access_policies], active_class: 'current-page' do
            = link_to(t("resources"), resources_path)
      = nav_link controller: :help do
        = link_to(help_path) do
          = icon('question-circle')
          = t('help.title')
      - if policy(:plgrid).show?
        %li
          %a
            = icon('cogs')
            = t('plgrid')
            %span.fa.fa-chevron-down

.sidebar-footer.hidden-small
  = render 'layouts/footer'
