!!! 5
%html
  = render 'layouts/head'
  %body.nav-md
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            = render 'layouts/left_menu'
        = render 'layouts/navbar'
        .right_col{ role: 'main' }
          = render 'layouts/proxy'
          = yield
