%h1
  = t('.title', service_name: @service.name)
= render('services/show_layout') do
  - if @resources.exists?
    %table.table
      %thead
        %tr
          %th= t('services.local_policies.index.policy_name')
          %th= t('services.local_policies.index.policy_uri')
          %th
        = render partial: 'resource', collection: @resources
  - else
    %p= t('services.local_policies.index.nothing')
