%h1
  = t('.title', service_name: @service.name)
  .pull-right
    = link_to(new_service_local_policy_path(@service),
      title: t('services.local_policies.index.add'),
      class: 'btn btn-success') do
      = icon('plus', t('.add'))
.col-md-8
  = render('services/show_layout') do
    - if @resources.exists?
      %table.table
        %thead
          %tr
            %th= t('services.local_policies.index.policy_name')
            %th= t('services.local_policies.index.policy_uri')
            %th
          = render partial: 'resource', collection: @resources
    - else
      %p= t('services.local_policies.index.nothing')
.col-md-4
  = render 'index_help'
